

<style type="text/css">
	.item{
		width:250px;
		min-height:300px;
		display:inline-block;
	}

</style>


<div class="row" style="text-align:center">
<% @bags.each do |b|  %>
	<div class="thumbnail item" >
		<img src="http://static.daraz.pk/p/iz-bags-0215-6843-1-product.jpg" width="200" height="200" alt="<%= b.ProductName %>" />
		<table class="table">
			<caption><strong><%= link_to b.ProductName, controller: "products", action: "show", id: b.id %></strong></caption>
			<tr><td><%= b.ProductPrice %> Rs</td></tr>
		</table>
	</div>
<% end %>
</div>



