<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<div class="row" style="padding:10px;">
<div class="col-md-6"  >

<div class="row">

<img src="<%= ActiveSupport::JSON.decode(@bag.ProductExtra)["meta"][0]["image"][0] %>" id="mainImage" width="100%" height="500">
	

</div>

<div class="row" style="padding-left:20px;" id="thumbnails">
				
					<% ActiveSupport::JSON.decode(@bag.ProductExtra)["meta"][0]["image"].each do |image| %>
						<img src="<%= image %>" height="70" width="70" onclick="changeImage(this)" style="display:inline-block; cursor:pointer;"/>
					<% end %>
				


			</div>

</div>
<div class="col-md-6" >
	
	<div class="page-header">
		<h4><%= @bag.ProductName %></h4>
	</div>
		<div class="row" style="padding-left:20px;">
			<center>
				<h2>Rs. <%= @bag.ProductPrice %></h2>
			</center>

			<div class="row" style="padding-left:20px;">
				<% ActiveSupport::JSON.decode(@bag.ProductExtra)["meta"].each do |m| %>

					<div style="height:20px;width:20px;display:inline-block;background:<%= m["colorCode"] %>; cursor:pointer;" onclick="changeColor(<%= m["image"] %>)" ></div>


				<% end %>


			</div>

			<div class="row">
			<center><button class="btn btn-md btn-success" style="width:200px;" id="buy">Buy</button></center>
			</div>
		
		</div>


	</div>
</div>

<div id="dialog-form" title="<%= @bag.ProductName %><">
  <p class="validateTips">fields with <span style="color:red">(*)</span> are required.</p>

  <%= form_for(:client ,:url => url_for(:controller=> "clients",:action => "create", :id=>@bag.id)) do |f| %>
  	<%= f.hidden_field :OrderItem, :value=>@bag.id %>
 <table class="table">
 	<tr>
 		<td><label for="name">Name *</label></td>
 		<td><%= f.text_field :ClientName,:class=>"text ui-widget-content ui-corner-all",:required=>true %></td>
 	</tr>

 	<tr>
 		<td><label for="email">Email</label></td>
 		<td><%= f.text_field :email ,:class=>"text ui-widget-content ui-corner-all" %></td>
 	</tr>

 	<tr>
 		<td><label for="phone">Phone *</label></td>
 		<td><%= f.text_field :ClientPhone,:class=>"text ui-widget-content ui-corner-all" ,:required=>true%></td>
 	</tr>

 	<tr>
 		<td><label for="address">Address *</label></td>
 		<td>  <%= f.text_field :ClientAddress,:class=>"text ui-widget-content ui-corner-all" ,:required=>true%>
</td>
 	</tr>
 </table>
<%= f.submit :id=>"submit" ,:style=>"display:none" %>
  <%end%>
</div>









<script type="text/javascript">
function changeImage(ele){
	$("#mainImage").attr("src",$(ele).attr('src'))
}

function changeColor(thumbnail){
	$("#thumbnails").html("");
	
	thumbnail.forEach(function(e,i){
		var img=document.createElement("img");
		img.src=e;	
		img.height=70;
		img.width=70;
		$(img).click(function(){changeImage(img);});
		$("#thumbnails").append(img);
	});
}

	$(document).ready(function(){

	dialog = $( "#dialog-form" ).dialog({
      autoOpen: <%= params[:buy] ? true:false %>,
      height: 400,
      width: 350,
      modal: true,
      buttons: {
        "Order": addOrder,
        Cancel: function() {
          dialog.dialog( "close" );
        }
      },
      close: function() {
        $("form")[ 0 ].reset();
      }
    });

$("#buy").click(function(){

	dialog.dialog("open");
});
		

	});

	function addOrder(){
		$("#submit").click();
	}

</script>