<!DOCTYPE html>
<html>
<head>
  <title>Bags</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>
<section class="container">
	<%= yield %>	

</section>
</body>
</html>
